

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.btn-color {
    padding: 30px;
}

.btn-color-1 {
    background-color: #FF93CC !important;
}

.btn-color-2 {
    background-color: #DB8FF8 !important;
}

.btn-color-3 {
    background-color: #A48FF8 !important;
}

.btn-color-4 {
    background-color: #8FB7F8 !important;
}

.btn-color-5 {
    background-color: #8FDCF8 !important;
}

.btn-color-6 {
    background-color: #8FF897 !important;
}













